.title {
  padding-bottom: 2rem;
  min-height: calc(100vh - 5.5rem);
}

iframe {
  position: absolute;
  right: 0;
  bottom: 0;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 10rem);
}
