.title-wrapper {
  z-index: 2;

  /* absolute x-axis centered */
  left: 50%;
  transform: translateX(-50%);
}

.title-background {
  z-index: 1;

  height: calc(100vh - (4rem + 10px));
  width: 100vw;

  bottom: 0;
  /* absolute x-axis centered */
  left: 50%;
  transform: translateX(-50%);

  background: white;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9) 15%,
    rgba(255, 255, 255, 0.2) 30%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

.title-canvas {
  padding-top: calc(100vh - (4rem + 10px));
}

.video-container {
  bottom: 0;
  left: 0;

  height: calc(100vh - (4rem + 10px));
  width: 100vw;

  overflow: hidden;
}

.video-content {
  z-index: 0;

  bottom: 0;
  /* absolute x-axis centered */
  left: 50%;
  transform: translateX(-50%);

  /* disable controling */
  user-select: none;
  pointer-events: none;

  width: calc(100vh * 16 / 9);
  height: calc(100vh - (4rem + 10px));

  min-width: 100%;
  min-height: calc(100vw * 9 / 16);
}

@media (max-width: 768px) {
  .title-background {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.8) 30%,
      rgba(255, 255, 255, 0.4) 40%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .title-background {
    height: calc(100vh - (3.5rem + 10px));
  }

  .title-canvas {
    padding-top: calc(100vh - (3.5rem + 10px));
  }

  .video-container {
    height: calc(100vh - (3.5rem + 10px));
  }

  .video-content {
    height: calc(100vh - (3.5rem + 10px));
  }
}
