.header-padding {
  margin-top: 4rem !important;
}

.title-text {
  position: absolute;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  padding: 1rem;
  margin: 0;
  color: black;
}

.title-background {
  position: absolute;
  height: calc(100vh - 4rem);
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  padding-top: 1rem;
  margin: 0;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 15%,
    rgba(255, 255, 255, 0.4) 30%,
    rgba(255, 255, 255, 0.1) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

.title-canvas {
  padding-top: calc(100vh - 4rem);
}

.video-container {
  position: absolute;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 4rem);
  width: 100vw;

  overflow: hidden;
}

.video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;

  bottom: 0;
  background-size: cover;
  background: no-repeat center;

  user-select: none;
  pointer-events: none;

  height: calc(100vh - 4rem);
  width: calc(100vh * 16 / 9); /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw; /* 100 * 9 / 16 */
}

@media (max-width: 768px) {
  .title-background {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.8) 30%,
      rgba(255, 255, 255, 0.4) 40%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
