/* Error: It's not clear which file to import. Found:
 *   src/assets/sass/components/_NavMenu.scss
 *   src/assets/sass/components/NavMenu.scss
 *   ,
 * 5 | @use "components/NavMenu";
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src/assets/sass/main.scss 5:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   src/assets/sass/components/_NavMenu.scss\a   src/assets/sass/components/NavMenu.scss\a   \2577 \a 5 \2502  @use \"components/NavMenu\";\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src/assets/sass/main.scss 5:1  root stylesheet";
}
