.navbar {
  padding: 0;
  min-height: 4rem;
  background-color: white;
}

.navbar-nav {
  font-size: 1rem;
}

.logo {
  max-height: 3.8rem;
}

.dropdown-menu {
  text-align: center;
  min-width: 5.5rem;
}

.dropdown-item {
  font-weight: 500;
}
