.header-padding {
  margin-top: calc(4rem + 10px);
  margin-bottom: 6rem;
}

/* override */
.fs-5 {
  font-size: 19px !important;
}

@media (max-width: 768px) {
  .header-padding {
    margin-top: calc(3.5rem + 10px);
  }

  .fs-5 {
    font-size: 16px !important;
  }
}

@import "./base/typography";

@import "./components/topNavbar";

// @import "./pages/";

@import "./themes/theme";

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
